body {
	font-family: Arial;
	padding: 20px;
}

a:link {
	color: blue;
}

a:visited {
	color: green;
}

a:hover {
	color: yellow;
}

@media screen and (max-width: 600px) {
	body {
		font-size: smaller;
	}
} 

.name {
	line-height: 8px;
}