body {
	width: 920px;
	font-family: Arial;
	vertical-align: center;
	margin: auto;
}

header {
	background-color: #e0e0e0;
	padding: 20px;
	width: 100%;
	height: 130px;
}

hr {
	background-color: gray;
	height: 3px;
}

a:link {
	color: blue;
}

a:visited {
	color: green;
}

a:hover {
	color: yellow;
}

@media screen and (max-width: 600px) {
	body {
		font-size: smaller;
	}
} 

.horizontal-rule {
	position: relative;
	display: inline-block;
	width: 920px;
}

.hr2 {
	z-index: -1;
	margin-left: 20px;
}

#tabs {
	display: inline-block;
	margin: 20px 0px 10px 20px;
}

.name {
	margin-top: 0px;
}

.tab {
	margin-right: 10px;
	padding: 20px;
	border: 3px solid gray;
	border-radius: 12px 12px 0px 0px;
	background-color: #e0e0e0;
}

span.active {
	border-bottom-color: white;
	border-radius: 12px 12px 0px 0px;
}

.hidden {
	display: none;
}

ul.skills {
	list-style: none;
	padding-left: 5px;
}

li {
	line-height: 24px;
}

.job-title {
	font-style: italic
}

.area-of-study {
	padding-left: 20px;
}

.content {
	width: 900px;
	margin-left: 20px;
}